* {
  font-family: Arial,Helvatica,Geneva,sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 75%;
  background-color: #fff;
  background-position: 260px 165px;
  background-repeat: no-repeat;
}

img {
  border: none;
}

#main {
}

#header h1 a {
  background-image: url('../images/logo.gif');
  width: 221px;
  height: 89px;
  position: absolute;
  left: 459px;
}

#header #social {
  position: absolute;
  top: 100px;
  left: 623px;
}

#header #social a {
  padding-right: 5px;
}

#header h1 span {
  display: none;
}

#menu {
  width: 280px;
  height: 610px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('../images/menu.png');
  background-repeat: no-repeat;
  background-position: 0px 20px;
  z-index: 10;
}

#menu ul {
  position: absolute;
  top: 170px;
  left: 50px;
  list-style: none;
}

#menu li {
  background-image: url('../images/menu_btn.png');
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#menu li a {
  width: 100%;
  display: block;
  color: #002777;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}

#menu li a:hover {
  background-image: url('../images/menu_btn_hover.png');
}

#menu #aa_btn {
  position: absolute;
  top: 450px;
  left: 105px;
}

#facebook_btn {
  text-align: center;
  position: absolute;
  bottom: 50px;
  background-color: #fff;
}

#page {
  width: 400px;
  position: absolute;
  top: 315px;
  left: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#page h2 {
  position: absolute;
  top: -200px;
  left: 0px;
  color: #99a9c9;
  font-size: 250%;
}

#page h3 {
  color: #99a9c9;
}

#page p {
  margin: 0px 0px 15px 0px;
}

#page ul {
  margin: 5px 25px 25px 25px;
}

#page a {
  color: #002777;
  text-decoration: none;
  font-weight: bold;
}

#page a:hover {
  text-decoration: underline;
}

#footer {
  font-size: 90%;
  text-align: center;
}

#footer a {
  font-weight: normal;
  color: #999999;
}

.item {
  clear: both;
  margin-bottom: 1.5em;
}

.field-field-afbeelding {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}