#menu {
  background-image: url('../images/menu.gif');
}

#menu li {
  background-image: url('../images/menu_btn.gif');
}

#menu li a:hover {
  background-image: url('../images/menu_btn_hover.gif');
}
