@import 'jeet'
@import '_settings'

normalize-css()
base()

header, main, footer
  center()
  display: block
  +above(600px)
    max-width: 980px

+above(600px)
  aside
    col(1/3)

  section
    col(2/3)
